body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #00795b;
    font-weight: bold;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header header header header"
        "sidebar glowny-artykul glowny-artykul reklama"
        "sidebar wideo lista-artykulow reklama"
        "footer footer footer footer";
    gap: 20px;
}

.box {
    background: #e0f2f1;
    padding: 15px;
    border: 1px solid #00795b;
}

header { 
    grid-area: header; 

}
#sidebar { 
    grid-area: sidebar; 
}

#glowny-artykul { 
    grid-area: glowny-artykul; 
}

#wideo { 
    grid-area: wideo; 
}

#lista-artykulow { 
    grid-area: lista-artykulow; 
}

#reklama { 
    grid-area: reklama; 
}

footer { 
    grid-area: footer; 
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "glowny-artykul"
            "wideo"
            "lista-artykulow"
            "sidebar"
            "reklama"
            "footer";
    }
}